<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/storybook.njk">Storybook</a></li>
    </ul>
  </nav>
  {% block body %}
  {% endblock %}
  <script src="../js/index.js"></script>
</body>
</html>
